<%- include ('partials/header.ejs') %>

<div class="row">
    <div class="col-md-8 border-end">
        <%- include ('partials/fragments/header.ejs', { 
            title: 'Write And Forget', 
            cite: 'What we try to forget is what whispers in the silence of the mind.',
            show: false}) 
        %>
        
        <div class="my-4">
            <%- include ('partials/alerts.ejs') %>
        </div>

        <%- include ('partials/posts.ejs', { data: data.posts }) %>
    </div>
    <div class="col-md-4 position-relative">
        <div class="small-divider pb-5">
            <h3 class="text-center bg-text-black-50 fw-light">
                <span class="px-2">&#xb7;</span>
                <span class="px-2">&#xb7;</span>
                <span class="px-2">&#xb7;</span>
            </h3>
        </div>
        <div class="fixed-column bg-text-white p-4">
            <% if (locals.user) { %>
                <a href="/mind" class="btn btn-light d-block w-100 mb-4">
                    My Mind
                </a>
            <% } %>
            
            <%- include ('partials/fragments/users.ejs', { users: data.users, title: 'Top thinkers' }) %>
            <%- include ('partials/fragments/topics.ejs', { categories: data.categories, title: 'Recommended Topics' }) %>
            <div class="pb-5">&nbsp;</div>
        </div>
    </div>
</div>
    
<%- include ('partials/footer.ejs') %>