<% if (pagination.canPaginate) { %>
    <nav aria-label="Navigation" class="mt-5">
        <ul class="pagination justify-content-end">
            <% if (pagination.hasPrev) { %>
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=<%= pagination.prevPage %>">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                </li>
            <% } %>

            <% pagination.generatePageNumbers().forEach(page => { %>
                <% if (page === '...') { %>
                    <li class="page-item"><span class="page-link"><%= page %></span></li>
                <% } else { %>
                    <li class="page-item <%= page === pagination.page ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= page %>"><%= page %></a>
                    </li>
                <% } %>
            <% }) %>

            <% if (pagination.hasNext) { %>
                <li class="page-item">
                    <a class="page-link" href="?page=<%= pagination.nextPage %>">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=<%= pagination.totalPages %>">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
<% } %>