<div>
    <button type="button" class="btn" <% if(locals.user) {  %> onclick="react(this, '<%= post.id %>')" <% } %>>
        <i class="fa-regular fa-lightbulb"></i>
        <small class="fw-x-normal fs-small" id="<%= post.id %>">
            <%= numeral(post.numberOfReactions).format('0a') %>
        </small>
    </button>

    <button type="button" class="btn" onclick="location .href='/read/<%= post.slug %>'">
        <i class="fa-regular fa-comment-dots"></i>
        <small class="fw-x-normal fs-small">
            <%= numeral(post.numberOfComments).format('0a') %>
        </small>
    </button>

    <% if (post.canRepost) { %>
        <button type="button" class="btn" <% if(locals.user && post.canRepost) { %> onclick="rethought(this, '<%= post.id %>')" <% } %>>
            <i class="fa-solid fa-repeat"></i>
            <% if (!post.repostSlug) { %>
                <small class="fw-x-normal fs-small" id="rethought-counter-<%= post.id %>">
                    <%= numeral(post.repostCount).format('0a') %>
                </small>
            <% } %>
        </button>
    <% } %>

    <% if(locals.user && locals.user.id === post.authorId) { %>
        <% if (post.published) { %>
            <button type="button" class="btn border-0 no-pointer" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Views">
                <i class="fa-regular fa-eye"></i>
                <small class="fw-x-normal fs-small">
                    <%= numeral(post.views).format('0a') %>
                </small>
            </button>
        <% } else { %>
            <button type="button" class="btn border-0 no-pointer" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="This is a private thought">
                <i class="fa-regular fa-eye-slash"></i>
            </button>
        <% } %>
    <% } %>
</div>