<meta charset="utf-8">
<title><%= metaTags.title %> | WriteNForget</title>

<meta name="robots" content="index,follow,noodp">
<!--meta http-equiv="Cache-control" content="public" max-age="86400"-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<meta name="rating" content="General">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="url" content="<%= metaTags.url %>">
<meta name="author" content="<%= metaTags.author %>">
<meta name="keywords" content="<%= metaTags.keywords %>">
<meta name="description" content="<%= metaTags.description %>">
<meta property="article:author" content="<%= metaTags.author %>">

<meta property="og:type" content="article">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="<%= metaTags.url %>">
<meta property="og:image" content="<%= metaTags.image %>">
<meta property="og:description" content="<%= metaTags.description %>">
<meta property="og:title" content="<%= metaTags.title %> | WriteNForget">
<meta property="og:site_name" content="WriteNForget">

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="<%= metaTags.url %>">
<meta name="twitter:image" content="<%= metaTags.image %>">
<meta name="twitter:creator" content="@<%= metaTags.author %>">
<meta name="twitter:description" content="<%= metaTags.description %>">
<meta name="twitter:title" content="<%= metaTags.title %> | WriteNForget">

<meta name="theme-color" content="#ffc107"/>
<meta name="msapplication-navbutton-color" content="#ffc107"/>
<meta name="apple-mobile-web-app-status-bar-style" content="#ffc107"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">