<%- include ('../partials/header.ejs') %>

<div class="row">
    <div class="col-md-8 border-end">
        <%- include ('../partials/fragments/header.ejs', { title: author.nickname, cite: author.bio }) %>

        <div class="my-4">
            <%- include ('../partials/alerts.ejs') %>
        </div>

        <%- include ('../partials/posts.ejs') %>
        <%- include ('../partials/fragments/pagination.ejs') %>
    </div>
    <div class="col-md-4 position-relative">
        <div class="fixed-column bg-white p-4">
            <% if (user) { %>
                <a href="#" class="btn btn-light d-block w-100 mb-4">
                    Follow
                </a>
            <% } %>

            <%- include ('../partials/fragments/topics.ejs', { categories, title: 'Talks about' }) %>
        </div>
    </div>
</div>

<%- include ('../partials/footer.ejs') %>