<%- include ('../partials/header.ejs') %>

<div class="row">
    <div class="col-md-8 border-end">
        <%- include ('../partials/fragments/header.ejs', { title: locals.user.nickname, cite: locals.user.bio }) %>

        <div class="my-4">
            <%- include ('../partials/alerts.ejs') %>
        </div>

        <%- include ('../partials/posts.ejs', { data: data.posts }) %>
    </div>
    <div class="col-md-4 position-relative">
        <div class="fixed-column bg-white p-4">
            <%- include ('../partials/fragments/counters.ejs', { followers: 0, postsCount: data.postsCount }) %>

            <a href="/mind/edit" class="btn btn-light d-block w-100 mb-4">
                Edit My Profile
            </a>

            <%- include ('../partials/fragments/topics.ejs', { categories: data.categories, title: 'Recommended topics' }) %>
        </div>
    </div>
</div>

<%- include ('../partials/footer.ejs') %>