<%- include ('../partials/header.ejs') %>

<div class="row">
    <div class="col-md-8">
        <div class="pt-4 pb-3">
            <div class="">
                <div class="fs-x-small">
                    <span class="pointer fw-x-normal" onclick="location .href='/author/<%= post.authorId %>'">
                        <%= post.authorNickname %>
                    </span>
                    <small class="px-1">&#xb7;</small>
                    <span class="text-muted">
                        <%= formatDistanceToNow(post.createdAt, { addSuffix: true }) %>
                    </span>
                    <small class="px-1">&#xb7;</small>
                    <span>
                        <%= post.readingTime %> min read
                    </span>
                </div>   
            </div>

            <h1 class="fw-bold py-3"><%= post.title %></h1>

            <div class="d-flex justify-content-between border-top border-bottom mt-3 py-2">
                <%- include('../partials/fragments/reactions.ejs')  %>
                <div>
                    <div class="dropdown">
                        <button class="btn" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <% if(locals.user && locals.user.id === post.authorId) { %> 
                                <li><a class="dropdown-item" href="/edit/<%= post.slug %>">Edit</a></li>
                                <li><a class="dropdown-item text-danger" href="/delete/<%= post.id %>">Delete</a></li>
                                <% if (!post.published) { %>
                                    <li><button class="dropdown-item" onclick="publish(this, '<%= post.id %>')">Publish</button></li>
                                <% } %>
                            <% } %>
                            <li><a class="dropdown-item pointer" onclick="copyLinkToClipBoard('/read/<%= post.slug %>')">Copy Link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="post-content my-4"><%- post.content %></div>

        <div class="my-3">
            <a href="/thoughts?search=<%= post.categoryName %>" class="px-3 fs-small badge py-2 me-1 mb-1 fw-x-normal rounded-pill bg-light-2">
                <%= post.categoryName %>
            </a>
            <% post.hashtags.forEach(tag => { %>
                <a href="/thoughts?search=<%= tag %>" class="px-3 fs-small badge py-2 me-1 mb-1 fw-x-normal rounded-pill bg-light-2">
                    <%= tag %>
                </a>
            <% }) %>
        </div>

        <div class="py-5">
            <h3 class="text-center bg-text-black-50 fw-light">
                <span class="px-2">&#xb7;</span>
                <span class="px-2">&#xb7;</span>
                <span class="px-2">&#xb7;</span>
            </h3>
            <% if (data.posts || data.posts.length > 0) { %>
                <h6 class="text-center fw-light text-uppercase my-4 text-muted">
                    Check Out Other Thoughts
                </h6>
            <% } %>
            
            <%- include ('../partials/posts.ejs') %> 
        </div>
    </div>
    <div class="col-md-4">
        <div class="fixed-column p-3 scrollable-element">
            <% if (locals.user) { %>
                <div class="ninja-form shadow mt-4 mb-5">
                    <div>
                        <span class="m-2" id="name-placeholder">
                            <span class="fs-x-small bg-text-black">Responding as </span>
                            <label for="comment" class="form-label bg-text-black"><%= locals.user.nickname %></label>
                        </span>
                        <input type="hidden" name="_csrf" id="csrfToken" value="<%= csrfToken %>">
                        <textarea placeholder="What are you thinking?" class="form-control" name="comment" id="comment-placeholder" rows="3"></textarea>
                    </div>
                    <button id="comment-button" class="btn btn-sm btn-warning mt-2" 
                            onclick="comment(this, '<%= post.id %>', '<%= locals.user.nickname %>')">
                            Respond
                    </button>
                </div>
            <% } %>

            <h6 class="mb-3">Responses (<span id="comment-counter"><%= post.numberOfComments %></span>)</h6>

            <div class="pb-5 mb-3 last-no-border" id="comments-container">
                <% post.comments.forEach(comment => { %>
                    <div class="border-bottom pt-3 pb-1" id="<%= comment.id %>">
                        <div class="d-flex justify-content-between">
                            <div class="fs-x-small pointer" onclick="location .href='/author/<%= comment.authorId %>'">
                                <span class="fw-bold d-block"><%= comment.authorNickname %></span>
                                <span class="bg-text-muted d-block"><%= formatDistanceToNow(comment.createdAt, { addSuffix: true }) %></span>
                            </div>
                            <div>
                                <button type="button" class="btn btn-sm" <% if(locals.user) {  %> onclick="reactComment(this, '<%= comment.id %>')" <% } %>>
                                    <i class="fa-regular fa-lightbulb"></i>
                                    <small class="fw-x-normal fs-small" id="comment-counter-<%= comment.id %>">
                                        <%= numeral(comment.reacts).format('0a') %>
                                    </small>
                                </button>
                                <% if((locals.user && locals.user.id === comment.authorId) || 
                                    (locals.user && locals.user.id === post.authorId)) { %>
                                    <button class="btn btn-sm text-danger" onclick="deleteComment(this, '<%= comment.id %>')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                <% } %>
                            </div>
                        </div>
                        <div class="mt-2 fs-x-small bg-text-black">
                            <p class="text-break"><%= comment.text %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer.ejs') %>