<%- include ('../partials/header.ejs') %>

<div class="w-75 centered">
    <div class="pt-5 pb-3 border-bottom">
        <h1 class="fw-bold">
            <%= post.title %>
        </h1>
        
        <div class="mt-3">
            <small class="text-black">
                <%= post.authorNickname %>
            </small>
            <div class="text-muted fw-x-normal">
                <small>
                    <%= post.readingTime %> min read
                </small>
                <small>&#xb7;</small>
                <small>
                    <%= formatDistanceToNow(post.createdAt, { addSuffix: true }) %>
                </small>
            </div>
            <%- include ('../partials/fragments/tags.ejs') %>
            <div class="border-top pt-3">
                <%- include('../partials/fragments/reactions.ejs')  %>
            </div>
        </div>
    </div>

    <div class="post-content mt-4 mb-5">
        <%- post.content %>
    </div>
    <div class="border-top">
        <%- include ('../partials/posts.ejs') %> 
    </div>   
</div>

<%- include ('../partials/footer.ejs') %>