<%- include ('../partials/header.ejs') %>

<div class="row">
    <div class="col-md-8 border-end">
        <%- include ('../partials/fragments/header.ejs', { 
            title: metaTags.title, 
            show: false,
            cite: `Showing results (${data.posts.posts.length})` }) 
        %>
        
        <div class="my-4">
            <%- include ('../partials/alerts.ejs') %>
        </div>

        <%- include ('../partials/posts.ejs', { data: data.posts }) %>

        <% if(!data.posts || data.posts.length <= 0) { %>
            <div class="w-100">
                <img src="/images/empty.svg" alt="No posts found" class="w-100 h-50" />
            </div>
        <% } %>
    </div>
    <div class="col-md-4 position-relative p-4">        
        <%- include ('../partials/fragments/users.ejs', { users: data.users.users, title: `Thinkers Found (${data.users.users.length})` }) %>
    </div>
</div>
    
<%- include ('../partials/footer.ejs') %>