<%- include ('../partials/header.ejs') %>

<form action="/write" method="POST">    
    <%- include ('../partials/fragments/headerWithSubmit.ejs', { title: 'Writing a Thought', description: 'Let\'s Forget About It' }) %>
    <%- include ('../partials/alerts.ejs') %>

    <div class="form-group mt-3">
        <input type="text" class="editor-company" id="title" placeholder="Title" name="title" required>
    </div>
    <div class="row mt-2">
        <div class="col-md-5">
            <div class="form-group">
                <input type="text" class="editor-company-footer" placeholder="Hastags (life, hack, school)" id="tags" name="tags" required>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <input type="text" class="editor-company-footer" placeholder="Category" id="category" name="category" required>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select class="editor-company-footer" id="published" name="published">
                    <option value="true" selected>Public</option>
                    <option value="false">Private</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group mt-4">
        <textarea name="content" id="editor" placeholder="Write your thoughts here"></textarea>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>

<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            placeholder: 'Write your thoughts here',
            fontSize: {
                options: [ 10, 12, 14, 'default', 18, 20, 22 ],
                supportAllValues: true
            },
        })
        .catch(error => {
            console.error(error);
        });
</script>


<%- include ('../partials/just-footer.ejs') %>