<%- include ('../partials/header.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.02.min.css">

<form action="/write" method="POST" class="pb-5">    
    <%- include ('../partials/fragments/headerWithSubmit.ejs', { title: metaTags.title, description: 'Let\'s Forget About It' }) %>
    <%- include ('../partials/alerts.ejs') %>

    <% if (post.isRepost) { %> 
        <div class="alert alert-info my-2" role="alert">
            This is a rethought. You can't edit it.
        </div>    
    <% } %>

    <div class="form-group mt-3">
        <input type="text" <% if (post.isRepost) { %> readonly disabled <% } %> value="<%= post.title %>" class="form-control form-control-lg border-0 fs-1 <% if (post.isRepost) { %> disabled <% } %>" id="title" placeholder="Title" name="title" required>
    </div>

    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-group mb-3">
                <input type="text" value="<%= post.hashtags %>" <% if (post.isRepost) { %> readonly disabled <% } %> class="form-control py-2 <% if (post.isRepost) { %> disabled <% } %>" placeholder="Hashtags: life, hack, school" id="tags" name="tags" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-3">
                <input id="autoComplete" 
                    type="search" 
                    dir="ltr" 
                    <% if (post.isRepost) { %> readonly disabled <% } %>
                    class="border w-100 form-control <% if (post.isRepost) { %> disabled <% } %>"
                    value="<%= post.category %>"
                    placeholder="What's your thought related to?" 
                    id="category" name="category" required 
                    spellcheck=false autocorrect="off" autocomplete="off" 
                    autocapitalize="off" maxlength="2048" tabindex="1">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group mb-3">
                <select class="form-control <% if (post.isRepost) { %> disabled <% } %> py-2" <% if (post.isRepost) { %> readonly disabled <% } %> aria-label="Can Repost" id="canRepost" name="canRepost" required>
                    <option value="true" <% if (post && post.canRepost) { %> selected <% } %>>Rethought</option>
                    <option value="false" <% if (!post || (post && !post.canRepost)) { %> selected <% } %>>No Rethought</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group mb-3">
                <select class="form-control <% if (post.isRepost) { %> disabled <% } %> py-2" <% if (post.isRepost) { %> readonly disabled <% } %> aria-label="Published Thought" id="published" name="published" required>
                    <option value="true" <% if (post && post.published) { %> selected <% } %>>Public</option>
                    <option value="false" <% if (!post || (post && !post.published)) { %> selected <% } %>>Private</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <% if (post.isRepost) { %> 
            <%- post.content %>
        <% } else { %>
            <textarea name="content" id="editor" placeholder="Write your thoughts here">
                <%= post.content %>
            </textarea>
        <% } %>
    </div>

    <input type="hidden" name="id" value="<%= post.id %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>

<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<script src="/js/write.js"></script>

<%- include ('../partials/just-footer.ejs') %>